*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html , body {
    height: 100%;
    width: 100%;
}
.main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    
}

.nav {
    height: 100px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    border-bottom: 2px solid rgb(45, 45, 45);
}

.nav2{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    
}

.nav h2 {
    font-size: 1.5vw;
    font-weight: 800;
}

.nav h4 {
    font-size: 1.1vw; 
    font-weight: 800;  
}

.nav button{
    font-size: 1.2vw;
    padding: 0.5vw 1.5vw;
    background-color:rgba(5, 184, 59, 0.863);
    color:#fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;


}

.nav i{
    font-size: 1.5vw;
    font-size: 600; 
    display: none;
  
}

.content{
    height: calc(100% - 100px);
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    position: relative;
}

.left{
    height: 100%;
    width: 55%;
    /* background-color: crimson; */
    padding: 5vw 5vw;
}

.left h1{
    font-size: 4vw;
    line-height: 4.2vw;

}
.left h1 span {
    color: aquamarine;

}

.left p {
    font-size: 1.23vw;
    font-weight: 600;
    color: #666;
    width: 80%;
    margin-top: 1.5vw;
    margin-bottom:3vw  ;


}

.content button{

    font-size: 1.2v w;
    padding:  1.3vw 2.3vw;
    background-color:lightseagreen;
    color:#fff;
    border: none;
    border-radius: 5px;
    font-weight: 700;


}

.right{
    height: 100%;
    width: 45%;
    /* background-color: royalblue; */
}

.right img{
    height: 100%;
    width: 100%;

}

@media (max-width:600px) {
    .nav{
        /* background-color: lightseagreen;
        color: whitesmoke; */
        padding: 0 5vw;
        height: 60px;
    }

    .nav h2{
        font-size: 6vw;
    }

    .nav h4{

        font-size: 4vw;
        display: none;

    }
    .nav button {
        display: none;
    }

    .nav i{
        display: block;
        font-size: 6vw;
    }

    .content {
        height: calc(100% - 60px) ;
        flex-direction: column;
    }

    .left{
        background-color: rgb(255, 210, 210);
        width: 100%;
        height: 60%;
        padding: 4vw 5vw  ; 

    }

    .right{
        background-color: rgb(182, 182, 254);
        width: 100%;
        height: 40%;
    }

    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 4vw; 
        width: 100%; 
        margin-top: 5vw;
        margin-bottom: 5vw;  

    }

    .content button{

        padding: 4vw 6vw;
        font-size: 3.5vw;
        border-radius: 3px;
        font-weight: 600;


    }




    
}
